[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  BASELINE_BROWSER_MAPPING_IGNORE_OLD_DATA = "true"

[functions]
  directory = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-nextjs"
